{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home Sweet Home</h1>

    <h3>Sitemaps</h3>
    <ul>
        {% for sitemap in sitemaps %}
        <li><a href="/{{ sitemap }}">/{{ sitemap }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
